body{
  margin: 0;
  padding: 0;
  font-style: arial;
  font-size: 17px;
  color: #926239;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
}
h1{
  font-size: 54px;
}
.text{
font-size: 24px;
}
header{
  background-image: url('./../../beachshowcase.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  padding: 50px 25px;
}
.first{
  height: 450px; width: auto;
  display: table-cell;
  vertical-align: middle;
  margin: 0;
}
.button{
  padding: 10px 20px;
  border: 1px solid #926239;
  border-radius: 10px;
  text-decoration: none;
  color: #926239;
  margin-top: 20px;
}
.info{
  background-color: #926239;
  color: white;
  padding: 20px;
}
.zero{
  margin: 0;
  padding: 20px;
}
.one{
  color: white;
  display: inline-block;
  width: 30%;
  background-color: #926239;
  padding: 1.5%;
}
.two{
  display: inline-block;
  width: 30%;
  padding: 1.5%
}
.tree{
  color: white;
  display: inline-block;
  width: 30%;
  padding: 1.5%;
  background-color: #926239;
}